Repository devnet-uk/devnet-phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: echo 'BiomeJS check - Phase 0 Step 3 implementation', vitest related --run

feat(phase-0): achieve full Engineering OS compliance
  .lintstagedrc.json
  package.json
  phoenix-plan/phoenix.md
  vitest.config.ts
Due: echo 'BiomeJS check - Phase 0 Step 3 implementation', vitest related --run

feat(phase-0): complete pnpm workspace configuration
  .npmrc
  apps/web/package.json
  package.json
  tests/workspace-config.test.ts
Due: echo 'BiomeJS check - Phase 0 Step 3 implementation', vitest related --run

feat(phase-0): implement package architecture foundation with workspace structure
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tsconfig.json
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/auth/src/index.ts
  packages/auth/tsconfig.build.json
  packages/auth/tsconfig.json
  packages/contracts/package.json
  packages/contracts/src/api/index.ts
  packages/contracts/src/domain/index.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/index.ts
  packages/contracts/tsconfig.build.json
  packages/contracts/tsconfig.json
  packages/database/package.json
  packages/database/src/index.ts
  packages/database/tsconfig.build.json
  packages/database/tsconfig.json
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  tests/package-architecture.test.ts
  tsconfig.json
Due: echo 'BiomeJS check - Phase 0 Step 3 implementation', vitest related --run

fix(phase-0): resolve tsconfig.json and test script issues
  package.json
  tsconfig.json
Due: echo 'BiomeJS check - Phase 0 Step 3 implementation'

chore: update checkpoint files - Phase 0 complete
  PHOENIX-CHECKPOINT.txt
  PHOENIX-PROGRESS.md
Due: none

docs(phoenix-plan): establish single source of truth architecture
  phoenix-plan/phoenix.md
Due: none

Path conditions:
  echo 'BiomeJS check - Phase 0 Step 3 implementation': any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx,json}
  vitest related --run: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx}
